.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #333;
}


.default-navbar{
    width: 100%;
    height: 100%;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin: 10px 0px;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: white;
}




/* links section */

.social-icon-row{
    background-color: #5d1725 !important;
}

.social-icon-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.social-icon-container ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.social-icon-container ul li{
    list-style: none;
}

.social-icon img{
    width: 50px;
    height: 50px;
    padding: 15px;
}





/* footer section */

.footer-container {
  width: 100%;
  background: #2b2b2b;
  color: white;
  padding-top: 30px;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.footer-top {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logos img {
  height: 70px;
  margin: 0 20px;
}

.footer-social {
  text-align: center;
  margin-bottom: 25px;
}

.footer-social a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 30px;
}

.footer-left h4 {
  margin-bottom: 10px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 6px 20px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-logo img {
  height: 95px;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #555;
  color: #ccc;
}

.footer-small {
  font-size: 12px;
  color: #aaa;
}