/* links section */

.social-icon-row{
    background-color: #5d1725 !important;
}

.social-icon-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.social-icon-container ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.social-icon-container ul li{
    list-style: none;
}

.social-icon img{
    width: 50px;
    height: 50px;
    padding: 15px;
}




